@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body{
	margin: 0;/*div旁邊的空白，是因為body本身有margin*/
	font-family: "cwTeXYen", sans-serif;
	color: #3d3d3d;
	background-color: #ffeaab;
	/*主色調#ffcf4a*/
}
#sidebody{
	width: 600px;
	margin: 0 auto;
	background-color: #ffecc9;
	overflow: auto;
}

#header{
	background-color: #ffffff;
	text-align: center;	
	font-size: 12pt;
	height: 100px;
	box-shadow: 1px 1px 2px #636363;
	position: relative;
	z-index: 3px;
}

#h_option{
	background-color: #ffffff;
	width: 700px;
	height: 95px;
	margin: 0 auto;
	position: relative;
}
#h_option li{
	display: inline;
	/*border:1px #ccc solid;*/
	box-shadow: 0 0 0 #fff;
	padding: 20px;
	margin-right: 30px;
	font-weight: 800;
	font-size: 20px;
}
#title_cat{
	line-height: 50px;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
}
li:hover{
	cursor: pointer;
}
ul{
	margin: 0 auto;
	line-height: 100px;
}
#member{
	height: 25px;
	position: relative;
	float: right;
	margin: 35px;
	color: #ccc;
}

#member:hover{
	cursor: pointer;
}

#content{
	margin: 0 auto;
	text-align: center;
	
}

#title{
	font-size: 35px;
}

#photo{
	background-color: #ffffff;
	height: 530px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 10px;
}
#thumbs{
	width: 100px;
	margin: 0 auto;
	margin-top: -30px;
}

.small{
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background: #ccc;
	display: inline-block;
	
	margin: 0 auto;
}
.small:hover{
	cursor: pointer;
}
.selected{
	background: #ffcf4a;
}
#big{
	height: 400px;
	border-radius: 10px;
}

#footer{
	clear: both;
	background-color: #ddd;
	text-align: center;
	height: 80px;
	margin-top: 80px;
}

/*shopping*/
#star{
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #ffffff;
	border-radius: 10px;
}
#title_star{
	line-height: 50px;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
}
#table_star{
	margin: 0 auto;
}
#table_star td{
	padding: 10px;
}
#table_star div{
	width: 250px;
	height: 250px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #ccc;
	line-height: 250px;
	font-size: 35px;
	color: #ff7070;
	margin-bottom: 15px;
}

#sort{
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #ffffff;
	border-radius: 10px;
}
#title_sort{
	line-height: 50px;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
}
#table_sort{
	margin: 0 auto;
}
#table_sort td{
	padding: 10px;
}
#table_sort div{
	width: 250px;
	height: 250px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #ccc;
	line-height: 250px;
	font-size: 35px;
	color: #ff7070;
	margin-bottom: 15px;
}

/*遊戲部分*/
.canvas{/*canvas 改成class*/
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-color: #eee;
	display: block;
	margin-top: 100px;
}

/*Another Style*/

#src_form{
    background-color: #ffffff;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px auto;   /*置中*/
}

#src_form:hover{
    box-shadow: 0px 0px 3px #ccc;
    cursor: pointer;
}

/*adoption.html*/
#adopt{
	width: 1400px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #ffffff;
	border-radius: 10px;
}
#title_adopt{
	line-height: 50px;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
}
#wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    
}

.inner_wrap{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 500px;
    margin-bottom:50px;
    margin-left: 5px;
    margin-right: 5px;
}

.space{
    background-color: #ffecc9;
    width: 250px;
    height: 25px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.photo{
    background-color: #ffecc9;
    width: 250px;
    height: 200px;
    text-align: center;
}

.photo img{
    width: 200px;
    
}

.information{
    background-color: #ffecc9;
    width: 250px;
    height: 300px;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.row{
    width: 250px;
    height: 30px;
}

/*game_hit_circles.html*/
#myCanvas{
    background-color: #ffffff;
}

/*adoption_form.html*/
#notice{
	margin-left:auto; 
	margin-right:auto;
	margin-top: 30px;
	text-align: left;
}

#notice caption{
	font-size: 30px;
	padding-bottom: 10px;
}

#formTitle{
	margin-top: 40px;
	margin-bottom: 0px;
}

#hint{
	color:#767070dc;
}

#innerForm{  /*the table inside the form*/
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:auto; 
	margin-right:auto;
	text-align: left;
}

span{
	color: red;
}

#button{
	text-align: center;
}