body{
	margin: 0;/*div旁邊的空白，是因為body本身有margin*/
	font-family: 微軟正黑體;
	color: #1f1f1f;
	/*主色調#ffcf4a*/
}
#sidebody{
	width: 600px;
	margin: 0 auto;
	background-color: #ffecc9;
}

#header{
	background-color: #ffffff;
	text-align: center;	
	font-size: 12pt;
	height: 100px;
}

#h_option{
	background-color: #ffffff;
	
	width: 700px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
#h_option li{
	display: inline;
	/*border:1px #ccc solid;*/
	box-shadow: 0 0 0 #fff;
	padding: 20px;
	margin-right: 30px;
	
}
li:hover{
	cursor: pointer;
}
ul{
	margin: 0 auto;
	line-height: 100px;
}
/*
li:hover{
	box-shadow: 0px 0px 5px #8f8f8f;
	background-color: #ffffff;
	cursor: pointer;
}*/
/*
#sidebar_left{
	background-color: #ffecc9;
	width: 120px;
	float: left;
}

#sidebar_right{
	background-color: #ffecc9;
	width: 120px;
	text-align: center;
	line-height: 400px;
	float: right;
}
*/

#content{
	background-color: #ffe499;
	text-align: center;
	height: 700px;
}
#photo{
	background-color: #eeeeee;
	height: 500px;
}
#thumbs{
	width: 100px;
	margin: 0 auto;
	margin-top: -30px;
}

.small{
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background: #ccc;
	display: inline-block;
	
	margin: 0 auto;
}
.small:hover{
	cursor: pointer;
}
.selected{
	background: #ffcf4a;
}
#big{
	height: 400px;
}

#footer{
	clear: both;
	background-color: #ffd4d4;
	text-align: center;
	line-height: 80px;
}

