@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body{
	margin: 0;/*div旁邊的空白，是因為body本身有margin*/
	font-family: "cwTeXYen", sans-serif;
	color: #3d3d3d;
	background-color: #ffeaab;
	width: 100%;
	/*主色調#ffcf4a*/
}
#sidebody{
	width: 600px;
	margin: 0 auto;
	background-color: #ffecc9;
	overflow: auto;
}

#header{
	background-color: #ffffff;
	text-align: center;	
	font-size: 12pt;
	height: 100px;
	box-shadow: 1px 1px 2px #636363;
	position: relative;
	z-index: 3px;
}
/*頁面上方選單*/
.h_option{
	text-align: center;
	
}
.menu_option li{
	display: inline;
	/*border:1px #ccc solid;*/
	box-shadow: 0 0 0 #fff;
	font-weight: 800;
	font-size: 20px;
	padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
#title_cat{
	line-height: 50px;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
}
.menu_option li:hover{
	cursor: pointer;
}
.menu_option{
	margin: 0 auto;
	line-height: 100px;
	margin: 0; 
    padding: 0; 
    display: inline-block;
}
.menu_option{
	*display: inline;
}

#icon{
	height: 60px;
	position: absolute;
	float: left;
	margin: 20px;
	left: 10px;
}

#icon:hover{
	cursor: pointer;
}

#member{
	height: 25px;
	position: absolute;
	float: right;
	margin: 35px;
	left: 1350px;
	color: #ccc;
}

#member:hover{
	cursor: pointer;
}

#content{
	margin: 0 auto;
	text-align: center;
}

#photo{
	background-color: #ffffff;
	height: 530px;
	width: 70%;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 10px;
}
#thumbs{
	width: 100px;
	margin: 0 auto;
	margin-top: 0px;
}

.small{
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background: #ccc;
	display: inline-block;
	
	margin: 0 auto;
}
.small:hover{
	cursor: pointer;
}
.selected{
	background: #ffcf4a;
}
#big{
	position: relative;
	height: 80%;
	width: auto;
	border-radius: 10px;
}

#footer{
	clear: both;
	background-color: #ddd;
	text-align: center;
	height: 80px;
	margin-top: 80px;
}

/*shopping*/
/*主打星*/
.star{
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #ffffff;
	border-radius: 10px;
}
.menu_star{
	margin: 0; 
    padding: 0; 
    display: inline-block;
}
.menu_star li{
	margin: 0 auto;
	list-style: none; 
    float: left;
    padding: 0;
    display: inline-block;
	width: 250px;
	height: 250px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #ccc;
	line-height: 250px;
	font-size: 35px;
	margin: 10px 10px 30px 10px;
	overflow: hidden;
}
.menu_star li{
	*display: inline;
}
#title_star{
	line-height: 50px;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
	color: #ff7070;
}
.star ul{
	margin: 0 auto;
	position: relative;
}

li img{
	height: 250px;
	width: 250px;
	margin: 0 auto;
	padding: 0;
}
li #mask_star:hover{
	cursor: pointer;
}

#mask_star{
	font-weight: bold;
	width: 250px;
	height: 250px;
	border-radius: 10px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	color: rgba(5,5,5,1);
	display: none;
}
/*熱門商品*/
.sort{
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #ffffff;
	border-radius: 10px;
}
.menu_sort{
	margin: 0; 
    padding: 0; 
    display: inline-block;
}
.menu_sort li{
	list-style: none; 
    float: left;
    padding: 0;
    display: inline-block;
	width: 250px;
	height: 250px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #ccc;
	line-height: 250px;
	font-size: 35px;
	margin: 10px 10px 30px 10px;
	overflow: hidden;
}
#title_sort{
	line-height: 50px;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
	color: #ff7070;
}
#menu_sort{
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #ccc;
	line-height: 250px;
	font-size: 35px;
	color: #ff7070;
	margin: 10px 10px 30px 10px;
}
.menu_sort li{
	*display: inline;
}
.sort ul{
	margin: 0 auto;
}

li img{
	height: 250px;
	margin: 0 auto;
	padding: 0;
}
li #mask_sort:hover{
	cursor: pointer;
}

#mask_sort{
	font-weight: bold;
	width: 250px;
	height: 250px;
	border-radius: 10px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	color: rgba(5,5,5,1);
	display: none;
}
/*遊戲部分*/
.canvas{/*canvas 改成class*/
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-color: #eee;
	display: block;
	margin-top: 100px;
}

/*adoption.html*/

#src_form{
    background-color: #ffecc9;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px auto;   /*置中*/
	font-size: 20px;
}

#src_form:hover{
    box-shadow: 0px 0px 3px #ccc;
    cursor: pointer;
}

#adopt{
	width: 96%;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #ffffff;
	border-radius: 10px;
}

#title_adopt{
	line-height: 50px;
	font-size: 50px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 15px;
}
#wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    
}

.inner_wrap{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 515px;
    margin-bottom:50px;
    margin-left: 5px;
    margin-right: 5px;
}

.inner_wrap:hover{
	cursor: pointer;
}

.space{
    background-color: #ffecc9;
    width: 230px;
    height: 15px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.photo{
    background-color: #ffecc9;
    width: 230px;
    height: 210px;
    text-align: center;
}

.photo img{
    width: 190px;
}

.photo img:hover{
	width: 200px;
}

.information{
    background-color: #ffecc9;
    width: 230px;
    height: 280px;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.row{
    width: 230px;
    height: 30px;
	font-size: 20px;
	line-height: 30px;
}

#footer_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#footer_left{
	width: 50%;
	text-align: right;
}

#footer_right{
	width: 50%;
	text-align: left;
}

.line{
	height: 40px;
	line-height: 40px;
	font-family: Arial, sans-serif;
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

/*game_hit_circles.html*/
#myCanvas{
    background-color: #ffffff;
}

#div_start{
    background-color: #ffffff;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px auto;   /*置中*/
	margin-bottom: 30px;
	font-size: 20px;
}

#div_start:hover{
    box-shadow: 0px 0px 3px #ccc;
    cursor: pointer;
}

#title_circle{
	font-size: 20px;
}

/*adoption_form.html*/
#notice{
	margin-left:auto; 
	margin-right:auto;
	margin-top: 30px;
	text-align: left;
}

#notice caption{
	font-size: 30px;
	padding-bottom: 10px;
}

#formTitle{
	margin-top: 40px;
	margin-bottom: 0px;
}

#hint{
	color:#767070dc;
}

#innerForm{  /*the table inside the form*/
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:auto; 
	margin-right:auto;
	text-align: left;
}

span{
	color: red;
}

#button{
	text-align: center;
}

/*member*/
.register{
	width: 450px;
	margin: 0 auto;
	margin-top: 70px;
	
	border-radius: 10px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	display: none;
}
.login{
	width: 450px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 134px;
	border-radius: 10px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	display: block;
}
/*#login_hr{
	width: 250px;
	color: 1px #ccc;
	margin: 0 auto;
}*/
#table_lr{
	display: inline-block;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
#table_lr td{
	height: 50px;
}
#text_lr{
	width: 330px;
	padding: 10px;
	font-size: 15px;
	border: 1px solid #ccc;
}
#table_title{
	margin: 0 auto;
	font-size: 25px;
	border-collapse: collapse;
}
#table_title_login_l{
	height: 50px;
	width: 230px;
	background-color: #ffffff;
	border-top-left-radius: 8px;

}
#table_title_register_l{
	height: 50px;
	width: 230px;
	background-color: #f0f0f0;
	border-top-right-radius: 8px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#table_title_login_r{
	height: 50px;
	width: 230px;
	background-color: #f0f0f0;
	border-top-left-radius: 8px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#table_title_register_r{
	height: 50px;
	width: 230px;
	background-color: #ffffff;
	border-top-right-radius: 8px;
}

#checkbox_lr{
	align-content: left;
	height: 50px;
}
#button_lr{
	width: 350px;
	height: 30px;
	border: 0px solid #fff;
	border-radius: 5px;
	background-color: #ffbf00;
	color: #ffffff;
	font-size: 15px ;
}